<mat-card-title>Register</mat-card-title>
<div class="outer-container">
  <div class="register-container">
    <mat-card-content>
      <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>user name</mat-label>
          <input matInput placeholder="user name" formControlName="userName">
          <mat-error *ngIf="registerForm.controls['userName'].hasError('required')">
            required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['userName'].hasError('minLength')">
            user name must contain at least 4 symbols
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>email</mat-label>
          <input matInput id=email type="email" formControlName="email" placeholder="email">
          <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
            required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
            invalid email
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>password</mat-label>
          <input matInput type=password formControlName="password" placeholder="password">
          <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
            required
          </mat-error>
          <mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
            Password must contain at least 8 characters, one uppercase, one number and one special case character
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>repeat password</mat-label>
          <input matInput type=password formControlName="repeatPassword" placeholder="password">
          <mat-error *ngIf="registerForm.controls['repeatPassword'].hasError('required')">
            required
          </mat-error>
          <mat-error
            *ngIf="(registerForm.controls['repeatPassword'].dirty || registerForm.controls['repeatPassword'].touched ) && registerForm.controls['repeatPassword'].hasError('notEqual')">
            passwords are not equal
          </mat-error>
        </mat-form-field>
        <button mat-button color="primary" type="submit" [disabled]="!registerForm.valid">submit</button>
        <a mat-button color="primary" routerLink="/auth/login">to login</a>
      </form>
    </mat-card-content>
  </div>
</div>



