<mat-form-field class="add_task_input" appearance="fill">
    <mat-label>Add Task</mat-label>
    <input matInput placeholder="task" value="task" id="task">
  </mat-form-field>
  <button (click)="addNewData()">Add</button>
  <mat-accordion *ngFor="let item of todos">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title  >
          {{item.text}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="mat-icon-rtl-mirror" aria-label="Example home icon"  hideToggle (click)="onSelect(item)">edit</mat-icon>
          <mat-checkbox></mat-checkbox>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <app-task-detail [task]="selectedTask"></app-task-detail>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

