.mat-card{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.mat-card-title{
  margin-top: 20px;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  background-color: #e5e4e4;
  h1{
    font-size: 100px;
    font-weight: 100;
    color: indianred;
    opacity: 0.5;
    text-align: center;
    margin-top: 20px;
  }

}
.content-wrapper{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.content{
  width: 550px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
.mat-card-title{
  h1{
    font-size: 100px;
    font-weight: 100;
    color: indianred;
    opacity: 0.5;
    text-align: center;
    margin-top: 20px;
  }
}
.list-container{
  min-height: 200px;
  max-height: 300px;
  overflow-y: scroll;
  border-bottom: solid rgba(12, 12, 12, 0.2);
}
.list-container::-webkit-scrollbar {
  display: none;
}
.title{
  font-size: 24px;
  text-align: center;
}
.mat-expansion-panel-header-description{
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
}
.mat-icon-rtl-mirror{
  height: 21px;
  margin-right: 10px;
}
.example-full-width{
  margin-left: 20px;
}
.mat-checkbox{
  label{
    span{
      width: 100px;
      border-radius: 50%;
    }
  }
}
.input-container{
  flex: 0.9;
  input{
    width: 100%;
    opacity: 0.7;
    height: 50px;
    font-size: 24px;
    font-style: italic;
    border: none;
    outline: none
  }
}
.bottom{
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
}
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.24);
  .select-all-icon{
    opacity: 0.3;
    .select-all{
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 20px;
      font-size: 50px;
    }
  }
}
.filters{
  width: 90%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  opacity: 0.5;
  list-style-type: none;
  li{
    margin: 5px;
    a{
      border: solid 1px black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    a:active{
      border: solid 1px red;
    }
  }
}
.count{
  padding-right: 50px;
}
.non-display-spinner{
  display: none;
}
.display-spinner{
  display: block
}

