<mat-card>
  <div class="app-container">
    <div class="content-wrapper">
      <mat-card-title>
        <h1>Todos</h1>
      </mat-card-title>
      <div class="content">
        <div class="header">
          <mat-button-toggle [ngClass]="(isLoading$ | async)? 'select-all-disabled': 'select-all-icon'" (click)="markAllTasksDone()">
            <mat-icon  class="mark-all-done" >keyboard_arrow_down</mat-icon>
          </mat-button-toggle>
          <div class="input-container">
            <input id="task" placeholder="What needs to be done?" [formControl]="newTaskFormControl"
                   (keydown.enter)="addTask()"/>
          </div>
        </div>
        <div class="list-container">
          <mat-progress-bar *ngIf="isLoading$ | async" color="accent" mode="indeterminate"></mat-progress-bar>
          <mat-list *ngFor="let item of tasks$ | async">
            <app-todo-item [isLoading$]="isLoading$" [item]="item"></app-todo-item>
          </mat-list>
        </div>
        <div class="filters-container">
          <ul class="filters-group">

            <li class="items-left-counter">{{counter | async}} items left</li>
            <mat-button-toggle-group appearance="legacy"
                                     [value]="selectedType">
              <mat-button-toggle *ngFor="let filterState of filterStates"
                                 [value]="filterState.type"
                                 (click)="updateFilterType(filterState.type)">{{filterState.label}}</mat-button-toggle>
            </mat-button-toggle-group>
            <a mat-button class="mark-all-undone" *ngIf="!(isLoading$ | async)" (click)="clearAllCompleted()">clear all</a>
            <a mat-button class="mark-all-undone" *ngIf="isLoading$ | async" [disabled]="true">clear all</a>
          </ul>

        </div>
      </div>
      <div class="logout">
        <button mat-fab color="accent" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>





