
  <mat-card-title>
  <h1>Todos</h1>
  </mat-card-title>
    <div class="content">
      <div class="input-container">
        <form (submit)="addNewData(task.value); task.value = ''">
          <input id="task" placeholder="What needs to be done?" #task />
        </form>
      </div>
      <div class="list-container">
        <mat-list *ngFor="let item of todos">
          <app-todo-item [item]="item" [todos]="todos" (newItemEvent)="onNewItemEvent($event)"></app-todo-item>
        </mat-list>
      </div>
    </div>





