.mat-card {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.mat-card-title {
  margin-top: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #e5e4e4;

  h1 {
    font-size: 100px;
    font-weight: 100;
    color: indianred;
    opacity: 0.5;
    text-align: center;
    margin-top: 20px;
  }

}

.content-wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.content {
  width: 540px;
  height: 317px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.mat-card-title h1 {
  font-size: 100px;
  font-weight: 100;
  color: indianred;
  opacity: 0.5;
  text-align: center;
  margin-top: 20px;
}

.list-container {
  height: 177px;
  overflow-y: auto;
  border-bottom: solid rgba(12, 12, 12, 0.2);
  mat-progress-bar{
    position: absolute;
    width: 540px;
    height: 5px;
  }
}

.title {
  font-size: 24px;
  text-align: center;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  align-items: center;
}

.mat-icon-rtl-mirror {
  height: 21px;
  margin-right: 10px;
}

.example-full-width {
  margin-left: 20px;
}

.mat-checkbox label span {
  width: 100px;
  border-radius: 50%;
}

.input-container {
  flex: 0.9;

  input {
    width: 100%;
    opacity: 0.7;
    height: 50px;
    font-size: 24px;
    font-style: italic;
    border: none;
    outline: none
  }
}

.filters-container {
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-items: center;
  align-items: center;
  border-bottom: solid rgba(128, 128, 128, 0.24);

  .select-all-icon, .select-all-disabled {
    opacity: 0.4;
    box-shadow: none;
    border: none;
    width: 60px;
    height: 52px;
    border-radius: 0px;

    .mark-all-done {
      margin-top: -25px;
      margin-left: -10px;
      margin-right: 30px;
      font-size: 50px;
    }
  }

  .select-all-disabled {
    pointer-events: none;
    opacity: 0.2;

  }
}

.filters-group {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  opacity: 0.6;
  list-style-type: none;

  li {
    margin: 5px;

    a {
      border: solid 1px black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    a:active {
      border: solid 1px red;
    }
  }
}

.items-left-counter {
  padding-right: 50px;
}

.non-display-spinner {
  display: none;
}

.display-spinner {
  display: block
}

.clear-all-button, .clear-all-button-disabled {
  margin-left: 80px;
  cursor: pointer;
}
.clear-all-button-disabled{
  pointer-events: none;
  opacity: 0.3;
}

.logout {
  margin-top: 50px;
  opacity: 0.7;
}

mat-button-toggle-group {
  border: solid 1px indianred;
}

.no-tasks{
opacity: 0.3;
padding-top: 30px;
text-align: center;
font-weight: 100;
font-size: 50px;
}

@media screen and (max-width: 800px) {
  .mat-card {
    width: 100%;
  }
  .app-container {
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .mat-card {
    padding: 0;
    width: 100%;
    min-height: 710px;
    margin: 0;
  }
  .app-container {
    width: 100%;
    min-height: 569px;
    height: 100%;
  }
  .content {
    width: 100%;
    height: 450px;
  }
  .filters-group {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .mat-card-title h1 {
    font-size: 50px;
  }
  .list-container {
    width: 100%;
    height: 270px;
    mat-progress-bar{
      width: 100%;
    }
  }
  .content-wrapper {
    width: 100%;
  }
  .clear-all-button, .clear-all-button-disabled {
    margin-left: 0px;
  }
  .items-left-counter {
    padding-right: 0px;
  }
}
@media screen and (min-width: 2300px) {
  .content-wrapper{
    transform: scale(1.7, 1.7);
  }
}
