.mat-card {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e5e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding-top: 30px;
  background: white;
  width: 500px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}

.outer-container {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.mat-card-title {
  font-size: 100px;
  line-height: 110px;
  font-weight: 100;
  color: indianred;
  opacity: 0.5;
  text-align: center;
}

.example-full-width {
  justify-self: center;
  align-self: center;
  width: 80%;
}

.inner-form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .mat-card {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .form-container {
    width: 320px;
  }
  .outer-container {
    width: 320px;
  }
  .mat-card-title {
    font-size: 50px;
  }
}
