.mat-card{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e5e4e4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animation-container{
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .mat-card {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
}
