<mat-list-item (dblclick)="onStartEditMode(item)">
  <div  class="default-task-class">
    <label>
      <input class="default-checkbox" type="checkbox"
              [ngModel]="checked"
              (ngModelChange)="updateIsTaskCompleted(item, $event)">
      <div class="checkbox-icon">
        <mat-icon class="done">done</mat-icon>
      </div>
    </label>
    <span *ngIf="!selectedItem else input" [ngClass]="[item && item.done ? 'task-done' : 'default-task-class']"
          >{{ item.text }}</span>
    <mat-icon class='cross' (click)="deleteTask(item)">clear</mat-icon>
  </div>
  <ng-template  #input>
    <input [defaultValue]="item.text"
           (keydown.enter)="updateTaskText(item, $event)"
           (blur)="onCancelEditMode()"
           class="task-edit-input"
           autofocus
           #taskInput
    />
  </ng-template>
</mat-list-item>

