<mat-list-item (dblclick)="onStartEditMode(item)">
  <div class="task-undone">
    <label>
      <input class="default-checkbox" type="checkbox"
             [ngModel]="checked"
             (ngModelChange)="updateIsTaskCompleted(item, $event)">
      <div matRipple class="checkbox-icon">
        <mat-icon class="done">done</mat-icon>
      </div>
    </label>
    <span  *ngIf="item && !selectedItem else input" [ngClass]="[item && item.done ? 'task-done' : 'task-undone']"
    matTooltip={{item.text}} matTooltipClass="tooltip-class">{{ item.text.length < 45 ? item.text : item.text.slice(0, 44) + '...'}}</span>
    <mat-icon class='delete' (click)="deleteTask(item)">clear</mat-icon>
  </div>
  <ng-template #input>
    <input (keydown.enter)="updateTaskText(item)"
           (blur)="onCancelEditMode()"
           class="task-edit-input"
           [formControl]="editTaskFormControl"
           autofocus
           #taskInput
    />
  </ng-template>
</mat-list-item>

