<mat-list-item>
  <div *ngIf="!selectedItem else input" class="default-task-class">
    <label>
      <input class="default-checkbox" type="checkbox"
              [ngModel]="checked"
              (ngModelChange)="updateIsTaskCompleted(item, !checked)">
      <div class="checkbox-icon">
        <mat-icon class="done">done</mat-icon>
      </div>
    </label>
    <span  [ngClass]="[item && item.done !== false? 'task-done' : 'default-task-class']"
          (dblclick)="onSelect(item)">{{item.text}}</span>
    <mat-icon class='cross' (click)="deleteTask(item)">clear</mat-icon>
  </div>
  <ng-template #input>
    <input [defaultValue]="item.text"
           (keydown.enter)="updateTaskText(item, input.value)"
           (blur)="blurEvent()"
           class="task-edit-input" #input/>
  </ng-template>
</mat-list-item>

