.mat-list-item{
  border-bottom: solid rgba(0, 0, 0, 0.16);
}
.default-checkbox{
  display: none;
}
.default-checkbox:checked ~ .checkbox-icon .done{
  display: block;
  color: green;
}
.checkbox-icon{
  border: solid green 1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 30px;
  .done {
    display: none;
  }
}
.default-task-class, .task-done{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
mat-list-item:hover{
  .cross{
    display: block;
    align-self: flex-end;
  }
}
.cross{
  justify-self: flex-end;
  color: indianred;
  display: none;
}
.task-done{
  text-decoration: line-through;
  opacity: 0.4;
}
.default-task-class{
  text-decoration: none;
}
.selected{
  display: none;
}
.task-edit-input{
  width: 80%;
  height: 20px;
  padding: 10px;
  font-size: 22px;
  border: none;
  outline: none;


}
