<lib-toastify-toast-container [autoClose]="2000" ></lib-toastify-toast-container>
<router-outlet></router-outlet>

<!--[transition]="'bounce' | 'slide' | 'zoom' | 'flip'" (default: 'bounce)-->
<!-- (default: 5000)-->
<!--[hideProgressBar]="true | false"  (default: false)-->
<!--[newestOnTop]="true | false"  (default: false)-->
<!--[closeOnClick]="true | false" (default: true)-->
<!--[pauseOnHover]="true | false" (default: true)-->
<!--[pauseOnVisibilityChange]="true | false"  (default:  true)-->
<!--[iconLibrary]="'material' | 'font-awesome' | 'none';"  (default: 'none')-->





