body{
  margin: 0px;
  padding: 0px;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  background-color: #e5e4e4;
  h1{
    font-size: 100px;
    font-weight: 100;
    color: indianred;
    opacity: 0.5;
    text-align: center;
  }
  .content-wrapper{
    width: 700px;
    justify-items: center;
    justify-content: center;
  }
}
