<mat-card-title>Login</mat-card-title>
<div class="outer-container">
  <div class="form-container">
    <mat-card-content>
      <form class="inner-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field *ngFor="let fieldType of fieldState" class="example-full-width" appearance="fill">
          <mat-label>{{fieldType}}</mat-label>
          <input matInput placeholder="{{fieldType}}" type="{{fieldType}}" formControlName="{{fieldType}}"
            id="{{fieldType}}"
            [type]="fieldType === 'password' && passwordVisibility ? 'password' : 'text'">
            <mat-icon *ngIf="fieldType === 'password'" matSuffix (click)="passwordVisibility = !passwordVisibility">{{passwordVisibility ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          <mat-error *ngIf="loginForm.controls[fieldType].hasError('required')">
            required
          </mat-error>
        </mat-form-field>
        <button mat-button color="primary" [disabled]="!loginForm.valid">submit</button>
        <a mat-button color="primary" routerLink="/auth/registration">to registration</a>
      </form>
    </mat-card-content>
  </div>
</div>
